html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.half{
  width: 70%;
}
.photo{
  width: 20%;
  border-color: #000000 0 0 20px;
}
body {
	margin: auto;
  vertical-align: middle;
	padding: 20px;
  font: normal 400 24px/1.5 'Roboto', sans-serif;
  background: linear-gradient(rgba(0, 203, 255, 0.1), rgba(0, 203, 255, 0.1)), url('https://cloud.githubusercontent.com/assets/5304279/26663746/0fa6cb4c-46b7-11e7-94cc-40b22c2c0e36.jpg') no-repeat fixed right center;
  background-size: cover;
}
h1 {
  margin: 0;
	font-size: 4em;
  font-family: 'Pacifico', cursive;
  text-shadow: #000000 0 0 3px;
}
h2 {
  font-weight: 400;
  margin: 5px 0;
  font-size: 1em;
  text-transform: uppercase;
  border-bottom: 1px solid;
}
h5{
  font-size: 15px;
  color: #efefef;
}
.desc{
  font-size: 1.3em;
  text-align: center;
  color: #ffffff;
}
section {
	padding: 60px 0;
}
.content-wrapper {
  width: 78%;
  max-width: 950px;
	margin: 0 auto;
	overflow: hidden;
}
header {
  text-align: center;
}
header img {
 max-width: 500px;
  width: 60%;
}
.about {
  background: rgba(255, 255, 255, 0.9);
}
.portofolio{
  color: #efefef;
  background: url('https://cloud.githubusercontent.com/assets/5304279/26664821/c52bc11e-46be-11e7-90a4-2111bc762ce9.jpg') no-repeat fixed center right;
}
#contact {
	background: #262626;
}
#contact h2 {
  color: #efefef;
}
#contact .fa {
  background: #efefef;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 25px;
	margin: 30px 10px 45px 0;
}
.send {
  position: fixed;
  top: 25%;
  left: -400px;
  width: 350px;
  animation: 1s 3s 1 forwards slide-in;
  background: silver;
  padding: 30px;
}
button {
  background: #222;
  border: none;
  border-radius: 4px;
  padding: 8px;
  color: #eee;
  text-transform: uppercase;
}
.fa-times {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
li{
  color: #efefef;
}
@keyframes slide-in {
  100% {
    left: 50%;
    margin-left: -200px;
  }
}
@media (min-width: 940px) {
  body {
  border-top: 4px solid brown;
  border-bottom: 4px solid brown;
  }
  header {
  	padding: 80px 150px;
  }
}
@media (max-width: 939px) {
  body {
  border-top: 4px solid gold;
  border-bottom: 4px solid gold;
  }
  header {
  	padding: 60px;
  }
}
@media (max-width: 600px) {
  body {
    border-top: 4px solid olive;
    border-bottom: 4px solid olive;
    font-size: 20px;
  }
  header {
  	padding: 30px;
  }
  h1 {
    font-size: 40px;
  }
}
