@media (max-width: 600px) {
  p{
    font-size: 30px;
  }
}
body{
  background-color:#8D6E63;
}
.navbarcolor{
  background-color:#5D4037;
}
.container-fluid{
  width:500px;
}
#intro-text{
  width:400px;
  height:225px;
}
#intro-pic{
  width:100px;
  height:225px;
  padding-top: 20PX;
  margin-bottom: 45PX;
}
p{
  font-family:Monospace;
  font-size:20px;
}
.intro{
  background-color:#BCAAA4;
  color:#000;
  padding:40px;
}
.half{
  width:50%;
}
.content{
  background-color:#A1887F;
  color:#fff;
  padding:30px;
}
.title{
  font-weight:bold;
  fond-size:40px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
}
